@import "tailwindcss";

:root {
  --background: #f5e18b;
  --foreground: #0a0a0a;
}

.font-aalto {
  font-family: var(--font-aalto);
}

.font-dirtyline {
  font-family: var(--font-dirtyline);
}

.font-brentasignature {
  font-family: var(--font-brentasignature);
}

.font-gebuk {
  font-family: var(--font-gebuk);
}

.font-lovine {
  font-family: var(--font-lovine);
}

.font-thought {
  font-family: var(--font-thought);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-dm-mono);
  --font-brentasignature: var(--font-brentasignature);
  --font-gebuk: var(--font-gebuk);
  --font-lovine: var(--font-lovine);
  --font-thought: var(--font-thought);
  --font-aalto: var(--font-aalto);
  --font-dirtyline: var(--font-dirtyline);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.line {
  transform: translateY(100%);
  will-change: transform;
}

@layer utilities {
  .text-gradient {
    @apply bg-linear-to-b from-neutral-700 to-neutral-950 bg-clip-text text-transparent;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(200%);
  }
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 1000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
